﻿@model Ownership
@{
    ViewBag.Title = "Видалення запису з таблиці \"Ownership\"";
}

<h2>@ViewBag.Title</h2>

<div>
    <form action="/Ownership/Delete" method="post">
        <input type="hidden" value="@Model.id" name="id">

        @Html.Raw($"Ви бажаєте знищити запис {Model.id}, ShopId: {Model.shop_id}, " +
       $"OwnerId: {Model.owner_id}, {Model.date.ToString("dd.MM.yyyy")}, {Model.deposit_amount}")

        <input type="submit" class="btn btn-default" value="Так">
        <a href="/Ownership" class="btn btn-default">Назад</a>
    </form>
</div>