﻿@model List<Ownership>
@{
    ViewBag.Title = "Ownership";
}

<div class="jumbotron">
    <p />
    <table class="table">
        <tr class="table-dark">
            <th>Id</th>
            <th>Shop id</th>
            <th>Owner id</th>
            <th>Дата</th>
            <th>Розмір внеску</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Ownership ownership in Model)
        {
            <tr>
                <td>@ownership.id</td>
                <td>@ownership.shop_id</td>
                <td>@ownership.owner_id</td>
                <td>@ownership.date</td>
                <td>@ownership.deposit_amount</td>
                <td><a href="/Ownership/Edit/@ownership.id">Edit</a></td>
                <td><a href="/Ownership/Delete/@ownership.id">Delete</a></td>
            </tr>
        }
    </table>
    <br />
    <a href="/Ownership/Insert">Додати</a>
</div>

