﻿@{
    ViewBag.Title = "Нове володіння";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }

    <form action="/Ownership/Insert" method="post">
        <div class="form-group">
            <label for="shop_id">Shop id</label>
            <select class="form-control" id="shop_id" name="shop_id">
                @foreach (Shop shop in ViewBag.Shops)
                {
                    if (ViewBag.ShopId == shop.id)
                    {
                        <option value="@shop.id" selected>@(shop.id). @shop.name - @shop.region</option>
                    }
                    else
                    {
                        <option value="@shop.id">@(shop.id). @shop.name - @shop.region</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="owner_id">Owner id</label>
            <select class="form-control" id="owner_id" name="owner_id">
                @foreach (Owner owner in ViewBag.Owners)
                {
                    if (ViewBag.OwnerId == owner.id)
                    {
                        <option value="@owner.id" selected>@(owner.id). @owner.full_name - @owner.region_residence</option>
                    }
                    else
                    {
                        <option value="@owner.id">@(owner.id). @owner.full_name - @owner.region_residence</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="date">Дата</label>
            <input class="form-control" id="date" name="date"
                   value="@(ViewBag.Date?.ToString("yyyy-MM-dd"))" type="date">
        </div>

        <div class="form-group">
            <label for="deposit_amount">Розмір внеску</label>
            <input class="form-control" id="deposit_amount" name="deposit_amount"
                   value="@ViewBag.DepositAmount">
        </div>

        <p>
            <input type="submit" class="btn btn-default" value="Додати запис" />
        </p>
    </form>
    <br />
    <a href="/Ownership">Повернутись назад</a>
</div>