﻿@{
    ViewBag.Title = "Головна";
}

<div class="list-group mt-3">
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       href="/Shop">
        Shop
        <span class="badge bg-primary rounded-pill">@ViewBag.CountShop</span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       href="/Owner">
        Owner
        <span class="badge bg-primary rounded-pill">@ViewBag.CountOwner</span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       href="/Ownership">
        Ownership
        <span class="badge bg-primary rounded-pill">@ViewBag.CountOwnership</span>
    </a>
</div>