﻿@model Owner
@{
    ViewBag.Title = "Видалення запису з таблиці \"Owner\"";
}

<h2>@ViewBag.Title</h2>

<div>
    <form action="/Owner/Delete" method="post">
        <input type="hidden" value="@Model.id" name="id">

        @Html.Raw($"Ви бажаєте знищити запис {Model.id}, {Model.full_name}, " +
       $"{Model.address}, {Model.region_residence}, {Model.birthday.ToString("dd.MM.yyyy")}")

        <input type="submit" class="btn btn-default" value="Так">
        <a href="/Owner" class="btn btn-default">Назад</a>
    </form>
</div>