﻿@model Owner
@{
    ViewBag.Title = $"Зміна даних в таблиці \"Owner\" з id {Model.id}";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }

    <form action="/Owner/Edit" method="post">
        <input type="hidden" value="@Model.id" name="id">

        <div class="form-group">
            <label for="full_name">ПІБ</label>
            <input class="form-control" id="full_name" name="full_name"
                   value="@Model.full_name">
        </div>

        <div class="form-group">
            <label for="address">Адрес</label>
            <input class="form-control" id="address" name="address"
                   value="@Model.address">
        </div>

        <div class="form-group">
            <label for="region_residence">Район проживання</label>
            <input class="form-control" id="region_residence" name="region_residence"
                   value="@Model.region_residence">
        </div>

        <div class="form-group">
            <label for="birthday">День народження</label>
            <input class="form-control" id="birthday" name="birthday"
                   value="@(Model.birthday.ToString("yyyy-MM-dd"))" type="date">
        </div>

        <p>
            <input type="submit" class="btn btn-default" value="Зберегти зміни" />
        </p>
    </form>
    <br />
    <a href="/Owner">Повернутись назад</a>
</div>