﻿@model List<Owner>
@{
    ViewBag.Title = "Owner";
}

<div class="jumbotron">
    <p />
    <table class="table">
        <tr class="table-dark">
            <th>Id</th>
            <th>ПІБ</th>
            <th>Адрес</th>
            <th>Район проживання</th>
            <th>День народження</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Owner owner in Model)
        {
            <tr>
                <td>@owner.id</td>
                <td>@owner.full_name</td>
                <td>@owner.address</td>
                <td>@owner.region_residence</td>
                <td>@owner.birthday.ToString("dd.MM.yyyy")</td>
                <td><a href="/Owner/Edit/@owner.id">Edit</a></td>
                <td><a href="/Owner/Delete/@owner.id">Delete</a></td>
            </tr>
        }
    </table>
    <br />
    <a href="/Owner/Insert">Додати</a>
</div>

