﻿@{
    ViewBag.Title = "Новий власник";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }

    <form action="/Owner/Insert" method="post">
        <div class="form-group">
            <label for="full_name">ПІБ</label>
            <input class="form-control" id="full_name" name="full_name"
                   value="@ViewBag.FullName">
        </div>

        <div class="form-group">
            <label for="address">Адрес</label>
            <input class="form-control" id="address" name="address"
                   value="@ViewBag.Address">
        </div>

        <div class="form-group">
            <label for="region_residence">Район проживання</label>
            <input class="form-control" id="region_residence" name="region_residence"
                   value="@ViewBag.RegionResidence">
        </div>

        <div class="form-group">
            <label for="birthday">День народження</label>
            <input class="form-control" id="birthday" name="birthday"
                   value="@(ViewBag.Birthday?.ToString("yyyy-MM-dd"))" type="date">
        </div>

        <p>
            <input type="submit" class="btn btn-default" value="Додати запис" />
        </p>
    </form>
    <br />
    <a href="/Owner">Повернутись назад</a>
</div>