﻿@model Shop
@{
    ViewBag.Title = "Видалення запису з таблиці \"Shop\"";
}

<h2>@ViewBag.Title</h2>

<div>
    <form action="/Shop/Delete" method="post">
        <input type="hidden" value="@Model.id" name="id">

        @Html.Raw($"Ви бажаєте знищити запис {Model.id}, {Model.name}, " +
       $"{Model.region}, {Model.profile}, {Model.capital}")

        <input type="submit" class="btn btn-default" value="Так">
        <a href="/Shop" class="btn btn-default">Назад</a>
    </form>
</div>