﻿@model Shop
@{
    ViewBag.Title = $"Зміна даних в таблиці \"Shop\" з id {Model.id}";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }

    <form action="/Shop/Edit" method="post">
        <input type="hidden" value="@Model.id" name="id">

        <div class="form-group">
            <label for="name">Назва</label>
            <input class="form-control" id="name" name="name"
                   value="@Model.name">
        </div>

        <div class="form-group">
            <label for="region">Район</label>
            <input class="form-control" id="region" name="region"
                   value="@Model.region">
        </div>

        <div class="form-group">
            <label for="profile">Профіль</label>
            <input class="form-control" id="profile" name="profile"
                   value="@Model.profile">
        </div>

        <div class="form-group">
            <label for="capital">Капітал</label>
            <input class="form-control" id="capital" name="capital"
                   value="@Model.capital">
        </div>

        <p>
            <input type="submit" class="btn btn-default" value="Зберегти зміни" />
        </p>
    </form>
    <br />
    <a href="/Shop">Повернутись назад</a>
</div>