﻿@model List<Shop>
@{
    ViewBag.Title = "Shop";
}

<div class="jumbotron">
    <p />
    <table class="table">
        <tr class="table-dark">
            <th>Id</th>
            <th>Назва</th>
            <th>Район</th>
            <th>Профіль</th>
            <th>Капітал</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Shop shop in Model)
        {
            <tr>
                <td>@shop.id</td>
                <td>@shop.name</td>
                <td>@shop.region</td>
                <td>@shop.profile</td>
                <td>@shop.capital</td>
                <td><a href="/Shop/Edit/@shop.id">Edit</a></td>
                <td><a href="/Shop/Delete/@shop.id">Delete</a></td>
            </tr>
        }
    </table>
    <br />
    <a href="/Shop/Insert">Додати</a>
</div>

