﻿@{
    ViewBag.Title = "Новий магазин";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }

    <form action="/Shop/Insert" method="post">
        <div class="form-group">
            <label for="name">Назва</label>
            <input class="form-control" id="name" name="name"
                   value="@ViewBag.Name">
        </div>

        <div class="form-group">
            <label for="region">Район</label>
            <input class="form-control" id="region" name="region"
                   value="@ViewBag.Region">
        </div>

        <div class="form-group">
            <label for="profile">Профіль</label>
            <input class="form-control" id="profile" name="profile"
                   value="@ViewBag.Profile">
        </div>

        <div class="form-group">
            <label for="capital">Капітал</label>
            <input class="form-control" id="capital" name="capital"
                   value="@ViewBag.Capital">
        </div>

        <p>
            <input type="submit" class="btn btn-default" value="Додати запис" />
        </p>
    </form>
    <br />
    <a href="/Shop">Повернутись назад</a>
</div>